@import "tailwindcss";

@theme {
    --color-brand-dark: #020617;
    --color-brand-accent: #6366f1;
}

:root {
    scroll-behavior: smooth;
}

body {
    @apply bg-[#020617] text-slate-200 selection: bg-indigo-500 selection:text-white;
}

/* Custom Glassmorphism */
.glass {
    @apply bg-white/5 backdrop-blur-xl border border-white/10;
}

.text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 via-cyan-400 to-blue-500;
}